<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NTCUSTSA - News</title>
  <link rel="stylesheet" href="../style/reset.css">
  <link rel="stylesheet" href="../style/normalize.css.css">
  <link rel="stylesheet" href="../style/main.css">
  <link rel="stylesheet" href="../style/response.css">
  <script src="../script/jquery-1.11.2.min.js"></script>
  <script src="../script/jquery.unevent.js"></script>
  <script src="../script/jquery.easing.1.3.js"></script>
  <script src="../script/jquery.scrollTo.min.js"></script>
</head>

<body>
  <div id="wrap">
    <div id="container">
      <script>
        var navTop = 0;
        $(document).ready(function() {
          toTopLocate(2);
          $('#toTop').click(function() {
            $(window).scrollTo('0px', 300, {
              easing: 'easeInOutQuart'
            });
          });
          $('#mn-button-box').click(function() {
            $('#mn-button').toggleClass('mn-change');
            $('#mn-box').toggleClass('mn-switch');
          });
        });
        $(window).on('resize', function(e) {
          toTopLocate(2);
        }, 300);
        $(window).on('scroll', function(e) {
          toTopLocate(0);
        }, 300);

        function toTopLocate(x) {
          if (x == 2) navTop = parseInt($('#header').offset().top + $('#header').height());
          if (parseInt($(window).scrollTop()) >= navTop && $('#toTop.zoomAnimate').length <= 0) x = 1;
          else if (parseInt($(window).scrollTop()) < navTop && $('#toTop.zoomAnimate').length > 0) x = -1;
          if (x < 0) $('#toTop').removeClass('zoomAnimate');
          else if (x > 0) $('#toTop').addClass('zoomAnimate');
        }

      </script>
      <button type="buttom" id="toTop" class="zoomAnimate">To Top</button>
      <div id="wrap-inner">
        <div id="header">
          <div id="logo">
            <div id="logo-inner"><img src="../img/banner.png" alt=""></div>
          </div>
          <div id="nav">
            <div id="miniNav-wrap">
              <button id="mn-button-box" type="button"><div id="mn-button"></div></button>
              <div class="mn-switch" id="mn-box">
                <div class="mn-item">
                  <a href="main.html">
										<span class="mn-tc">首頁</span>
										<span class="mn-eng">HOME</span>
									</a>
                </div>
                <hr>
                <div class="mn-item">
                  <a href="news.html">
										<span class="mn-tc">最新消息</span>
										<span class="mn-eng">NEWS</span>
									</a>
                </div>
                <hr>
                <div class="mn-item">
                  <a href="intro.html">
										<span class="mn-tc">學生會簡介</span>
										<span class="mn-eng">INTRO</span>
									</a>
                </div>
                <hr>
                <div class="mn-item">
                  <a href="activity.html">
										<span class="mn-tc">活動專區</span>
										<span class="mn-eng">ACTIVITY</span>
									</a>
                </div>
              </div>
            </div>
            <div id="nav-wrap">
              <div class="n-item">
                <a href="main.html">
									<span class="n-tc">首頁</span>
									<span class="n-eng">HOME</span>
								</a>
              </div>
              <div class="n-item">
                <a href="news.html">
                  <span class="n-tc">最新消息</span>
                  <span class="n-eng">NEWS</span>
                </a>
              </div>
              <div class="n-item">
                <a href="intro.html">
									<span class="n-tc">學生會簡介</span>
									<span class="n-eng">INTRO</span>
								</a>
                <div class="n-list">
                  <div class="n-l-item"><a href="intro_inner.html#it-label-0">會長/副會長</a></div>
                  <div class="n-l-item"><a href="intro_inner.html#it-label-1">資訊部</a></div>
                  <div class="n-l-item"><a href="intro_inner.html#it-label-2">公關部</a></div>
                  <div class="n-l-item"><a href="intro_inner.html#it-label-3">秘書部</a></div>
                  <div class="n-l-item"><a href="intro_inner.html#it-label-4">財務部</a></div>
                  <div class="n-l-item"><a href="intro_inner.html#it-label-5">活動部</a></div>
                  <div class="n-l-item"><a href="intro_inner.html#it-label-6">學務部</a></div>
                </div>
              </div>
              <div class="n-item n-now">
                <div>
                  <span class="n-tc">活動專區</span>
                  <span class="n-eng">ACTIVITY</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="content">
          <div id="main">
            <div class="frame">
              <h1 class="page-title">活動專區</h1>
              <div class="frm-itemShow">
                <div class="frm-is-item">
                  <h2 class="item-subject">Esse fugiat minim in in</h2>
                  <div class="item-summary">
                    <p>Nostrud aute in officia nostrud cillum anim incididunt et est occaecat magna. Ad velit in culpa in elit. Irure minim reprehenderit mollit dolor amet. Excepteur nisi velit officia nostrud. Fugiat quis quis dolore irure velit adipisicing
                      nulla in. Incididunt cupidatat est in anim. Deserunt reprehenderit veniam elit exercitation ad quis qui deserunt nostrud veniam consequat.</p>
                    <img src="../img/demo.jpg" alt>
                    <p>Esse fugiat minim in in.</p>
                  </div>
                  <div class="item-continue"><button type="button" onclick="javascript: window.location='activity_inner.html';">閱讀全文</button></div>
                </div>
                <div class="frm-is-item">
                  <h2 class="item-subject">Esse fugiat minim in in</h2>
                  <div class="item-summary">
                    <p>Nostrud aute in officia nostrud cillum anim incididunt et est occaecat magna. Ad velit in culpa in elit. Irure minim reprehenderit mollit dolor amet. Excepteur nisi velit officia nostrud. Fugiat quis quis dolore irure velit adipisicing
                      nulla in. Incididunt cupidatat est in anim. Deserunt reprehenderit veniam elit exercitation ad quis qui deserunt nostrud veniam consequat.</p>
                    <img src="../img/demo.jpg" alt>
                    <p>Esse fugiat minim in in.</p>
                  </div>
                  <div class="item-continue"><button type="button" onclick="javascript: window.location='activity_inner.html';">閱讀全文</button></div>
                </div>
                <div class="frm-is-item">
                  <h2 class="item-subject">Esse fugiat minim in in</h2>
                  <div class="item-summary">
                    <p>Nostrud aute in officia nostrud cillum anim incididunt et est occaecat magna. Ad velit in culpa in elit. Irure minim reprehenderit mollit dolor amet. Excepteur nisi velit officia nostrud. Fugiat quis quis dolore irure velit adipisicing
                      nulla in. Incididunt cupidatat est in anim. Deserunt reprehenderit veniam elit exercitation ad quis qui deserunt nostrud veniam consequat.</p>
                    <img src="../img/demo.jpg" alt>
                    <p>Esse fugiat minim in in.</p>
                  </div>
                  <div class="item-continue"><button type="button" onclick="javascript: window.location='activity_inner.html';">閱讀全文</button></div>
                </div>
                <div class="frm-is-item">
                  <h2 class="item-subject">Esse fugiat minim in in</h2>
                  <div class="item-summary">
                    <p>Nostrud aute in officia nostrud cillum anim incididunt et est occaecat magna. Ad velit in culpa in elit. Irure minim reprehenderit mollit dolor amet. Excepteur nisi velit officia nostrud. Fugiat quis quis dolore irure velit adipisicing
                      nulla in. Incididunt cupidatat est in anim. Deserunt reprehenderit veniam elit exercitation ad quis qui deserunt nostrud veniam consequat.</p>
                    <img src="../img/demo.jpg" alt>
                    <p>Esse fugiat minim in in.</p>
                  </div>
                  <div class="item-continue"><button type="button" onclick="javascript: window.location='activity_inner.html';">閱讀全文</button></div>
                </div>
                <div class="frm-is-item">
                  <h2 class="item-subject">Esse fugiat minim in in</h2>
                  <div class="item-summary">
                    <p>Nostrud aute in officia nostrud cillum anim incididunt et est occaecat magna. Ad velit in culpa in elit. Irure minim reprehenderit mollit dolor amet. Excepteur nisi velit officia nostrud. Fugiat quis quis dolore irure velit adipisicing
                      nulla in. Incididunt cupidatat est in anim. Deserunt reprehenderit veniam elit exercitation ad quis qui deserunt nostrud veniam consequat.</p>
                    <img src="../img/demo.jpg" alt>
                    <p>Esse fugiat minim in in.</p>
                  </div>
                  <div class="item-continue"><button type="button" onclick="javascript: window.location='activity_inner.html';">閱讀全文</button></div>
                </div>
                <div class="frm-is-item">
                  <h2 class="item-subject">Esse fugiat minim in in</h2>
                  <div class="item-summary">
                    <p>Nostrud aute in officia nostrud cillum anim incididunt et est occaecat magna. Ad velit in culpa in elit. Irure minim reprehenderit mollit dolor amet. Excepteur nisi velit officia nostrud. Fugiat quis quis dolore irure velit adipisicing
                      nulla in. Incididunt cupidatat est in anim. Deserunt reprehenderit veniam elit exercitation ad quis qui deserunt nostrud veniam consequat.</p>
                    <img src="../img/demo.jpg" alt>
                    <p>Esse fugiat minim in in.</p>
                  </div>
                  <div class="item-continue"><button type="button" onclick="javascript: window.location='activity_inner.html';">閱讀全文</button></div>
                </div>
                <div id="frm-pages">
                  <button type="button" id="frm-pg-first">|&lt;</button>
                  <div id="frm-pg-group">
                    <span class="frm-page-now">10</span>
                    <button type="button" class="frm-page">20</button>
                    <button type="button" class="frm-page">30</button>
                    <button type="button" class="frm-page">40</button>
                    <div id="frm-pg-nmore"></div>
                    <button type="button" class="frm-page">70</button>
                  </div>
                  <button type="button" id="frm-pg-last">&gt;|</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer-wrap">
        <div id="footer">
          <div id="f-copy">Copyright&nbsp;&copy;&nbsp;國立臺中科技大學學生會</div>
          <div id="f-link">
            <div class="f-l-item"><a href="#!">網站地圖</a></div>
            <span class="f-sep">|</span>
            <div class="f-l-item"><a href="http://www.nutc.edu.tw/bin/home.php" target="_blank" rel="noopener nofollow noreferer">台中科技大學首頁</a></div>
            <span class="f-sep">|</span>
            <div class="f-l-item"><a href="http://student.nutc.edu.tw/bin/home.php" target="_blank" rel="noopener nofollow noreferer">學生事務處</a></div>
            <span class="f-sep">|</span>
            <div class="f-l-item"><a href="http://lib.nutc.edu.tw/bin/home.php" target="_blank" rel="noopener nofollow noreferer">圖書館</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
